{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th class="text-center">IMEI</th>
                <th class="text-center">수신시간</th>
                <th class="text-center">엔진속도</th>
                <th class="text-center">오일압력</th>
                <th class="text-center">냉각수온도</th>
                <th class="text-center">에러코드</th>
                <th class="text-center">구글맵연결</th>
            </tr>
        </thead>
        <tbody>
            {% if info_list %}
            {% for info in info_list.items %}
            <tr>
                <td class="text-center">{{info.device_imei}}</td>
                <td class="text-center">{{info.datetime}}</td>
                <td class="text-center">{{info.rpm}}</td>
                <td class="text-center">{{info.oil_pressure}}</td>
                <td class="text-center">{{info.coolant}}</td>
            
                {% if info.fault_code %}
                <td class="text-center">{{info.fault_code}}</td>
                {% else %}
                <td class="text-center">-</td>
                {% endif %}
            
                {% if info.latitude != 0 %}
                <td class="text-center"><a href="https://map.google.com/maps/search/{{info.gps_latitude}}+{{info.gps_longitude}}" target="_blank">위치보기</a></td>
                {% else %}
                <td class="text-center">-</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7" class="text-center">수신된 데이터가 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if info_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{info_list.prev_num}}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}

        {% for page_num in info_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != info_list.page %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_num}}">{{page_num}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="#">{{page_num}}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if info_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{info_list.next_num}}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
